
    @font-face {
      font-family:"DMSans";
      font-weight:400 500; 
      src: url('../assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
    }

    @font-face {
      font-family:"DMSans";
      font-style: italic;
      font-weight:400 500; 
      src: url('../assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf');
    }

    :root {
        --purple-light: hsl(254, 88%, 90%);
        --purple-dark:  hsl(256, 67%, 59%);
        --yellow-light: hsl(31, 66%, 93%);
        --yellow-dark: hsl(39, 100%, 71%);
        --white: hsl(0, 0%, 100%);
        --off-white: hsl(0, 0%, 96%);
        --gray:#F5F5F5;
        --black: hsl(0, 0%, 7%);
        

        --font-size-reg: 1.125rem;
        --font-size-s: 1.5rem;
        --font-size-m: 2.25rem;
        --font-size-m-l: 2.85rem;
        --font-size-l: 3rem;
        --font-size-xl: 4rem;
    }
html{
     background-color: var(--gray);
}

body {
    background-color: var(--gray);
    margin: 0;
}

.container {
    font-family: "DMSans", sans-serif;
    line-height: 1.5;

    margin: 30px 15px 30px 15px;
    color: var(--black);
    font-size: var(--font-size-reg);
    background-color: var(--gray);

    display: grid;
    gap: 30px; /* Space between grid items */
    min-height: 100vh; /* Ensure body takes full viewport height */
    align-content:center; /* Align grid content to the top */
    justify-content: center; /* Center the grid horizontally if there's extra space */
    box-sizing: border-box; /* Include padding in element's total width/height */
    background-color: #f0eff4;        
    }

        .container > div {
        padding: 25px; 
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        align-items:center; /* Align content to the start (left) by default */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
        overflow: hidden; /* Hide overflowing content if any */
        color: #333; /* Default text color */
        border-radius: 12px;
        }

    #div_1 { 
        background-color: hsl(256, 67%, 59%);
        padding: 45px;
        color: var(--white);
        text-align: center; 
        justify-content: center; 
        line-height: 2.5rem;
         :nth-child(2) {
            max-width: 70%;
         }
         
    }

    h1 {
        margin: 0 0 30px 0;
        font-weight: 500;
        font-size: var(--font-size-l);
    }

    h2 {
        font-size: var(--font-size-s);
        padding: 0px;
        font-weight: 600;
        line-height: 2rem;
    }

    img {
        max-width: 100%;
        background-color: transparent;
    }

    span{
        color: var(--yellow-dark);
    }

    p{
        margin-top:0;
        margin-bottom: 0;
    }

    #div_2_p{
        padding-left: 10px;
        padding-right: 10px;
        margin:6px;
        font-size: var(--font-size-s);
        font-weight: 600;
    }

    #div_2 { 
        text-align: left;
        padding: top 10px;
        background-color: var(--white);
    }

    #div_3 { 
        padding: 0px 20px 0 20px;
        align-items:flex-start;
        background-color: hsl(39, 100%, 71%);  
    }

    #div_3 > :first-child{
            max-width: 80%;
        }
    
    #div_3 > :nth-child(2) {
            max-width: 70%;
            overflow: hidden;
         }
    


    #div_4 {
        background-color: hsl(254, 88%, 90%);
        padding-top: 10px;
        align-items: center;
    }

    #div_4 > :last-child {
            text-align: center;
            font-size: var(--font-size-reg);
            font-weight: 500;
            padding: 26px 26px 10px 26px;
        }

    #div_5 { 
        background-color: hsl(256, 67%, 59%);
        color: var(--white);
        text-align: center;
    }

    #div_5 > :first-child {
        max-width: 80%;
    }

    #div_5 > :last-child {
        font-size: var(--font-size-m);
        line-height: 2.3rem;
        font-weight: 500;
        margin: 30px 30px 0px 30px;
    }

    #div_6 { 
        background-color: white;
        align-items: flex-start;
    }

    #div_6 > :first-child {
        font-size: var(--font-size-xl);
        margin-bottom: 0px;
    }

     #div_6 > :nth-child(2) {
        margin-top: 0px;
    }

    #div_6 > :last-child {
        max-width: 75%;
    }


    #div_7 { 
        background-color: hsl(31, 66%, 93%);
        padding:30px;
        align-items: flex-start;
        
    }

    #div_7 > :first-child {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.1rem;
        margin-top: 0px;
    }

    #span_2 {
        color: var(--purple-dark);
    }

    #div_7 > :last-child {
        max-width: 65%;
    }

    #div_8 {
        font-size: var(--font-size-m);
        background-color: hsl(39, 100%, 71%);
        align-items: flex-start;
    }

    #div_8 > :first-child {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.1rem;
        margin-top: 0px;
    }

    #div_8 > :last-child {
        max-width: 80%;
    }

    .attribution {
        font-family: "DMSans";
         margin: 20px 70px 20px 70px; 
        text-align: center;
        align-items: center;
        text-decoration: none;
    }

     .attribution > a {
        text-decoration: none;
        color:var(--purple-dark);
        font-weight: 600;
     }
